.drawer.is-visible {
    width: 300px;
}

.weather-title {
    font-size: 20px;
}

.drawer-button {
    float: right;
    outline: none !important;
}

.drawer-title-location {
    float: left;
    margin: 18px 0px 0px 15px;
}

.drawer-header {
    padding: 10px;
}
.mdl-data-table th {
    color: #fff;
    background: rgb(0, 150, 136);
}
